.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -135px;
}

.name {
  display: none;
}

.txtbox {
  padding: 30px;
  background-color: transparent;
  text-decoration: transparent;
  border-radius: 10px;
}
.sub {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  width: 130px;
  background-color: green;
  text-align: center;
  font-size: 2rem;
}
